.cart {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.cart_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_info h1 {
    font-size: clamp(14px, 3.5vw, 28px);
}

.cart_info button {
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 10px;
    background-color: #f17a17;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease;
}

.cart_info button:hover {
    color: white;
    background-color: red;
}

.cart_info button span:first-child {
    font-size: clamp(18px, 2vw, 28px);
    display: flex;
    align-items: center;
}


.cart_info button span:last-child {
    font-size: clamp(12px, 1.5vw, 18px);
}


.cart .products {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 62%;
}

.cart .products .product {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    gap: 20px;
}

.cart .products .product img {
    width: 15vw;
}

.cart .products .product .info {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.cart .products .product .info .change_count {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart .products .product .info h2 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: clamp(14px, 2vw, 24px);
}

.cart .products .product>span {
    margin-left: auto;
    font-size: clamp(18px, 3.5vw, 36px);
}

.count {
    display: flex;
    gap: min(15px, 0.3em);
    border: 1px solid rgb(194, 194, 194);
    padding: min(10px, 0.3em);
    border-radius: 5px;
    font-size: clamp(14px, 2vw, 20px);
}

.count span {
    display: flex;
    align-items: center;
}

.count span:first-child,
.count span:last-child {
    cursor: pointer;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

.count span:first-child:hover,
.count span:last-child:hover {
    background-color: rgb(170, 170, 170);

}

.price h1 {
    font-size: clamp(14px, 2.5vw, 28px);
}

.product>span {
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s ease;
}

.product>span:hover {
    opacity: 1;
    color: red;
}


.cart_total {
    width: 35%;
    border: 1px solid rgb(194, 194, 194);
    padding: 20px;
    border-radius: 10px;
}


.cart_total h1 {
    font-size: clamp(14px, 3vw, 32px);
}


.total_products {
    margin-top: min(20px, 1em);
    display: flex;
    flex-direction: column;
    gap: min(15px,0.5em);
}

.total_product {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(194, 194, 194);
    border-bottom: 1px solid rgb(194, 194, 194);
    padding: min(10px,0.5em) 0;
    align-items: center;
}

.total_product p:first-child {
    width: 60%;
    font-weight: 600;
    font-size: clamp(10px, 1.8vw, 18px);
}

.total_product p:last-child {
    border-left: 1px solid rgb(194, 194, 194);
    padding: min(10px, 0.5em);
    width: 35%;
    font-weight: 700;
    font-size: clamp(12px, 2vw, 20px);
}

.total_price {
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 700;
    margin-top: 20px;
    background-color: #f17a17;
    color: white;
    padding: min(10px, 0.5em);
    border-radius: 10px;
}

button.order {
    font-size: clamp(16px, 2.2vw, 20px);
    font-weight: 700;
    margin-top: 20px;
    background-color: #f17a17;
    color: white;
    padding: min(10px, 0.5em);
    border-radius: 10px;
    width: 100%;
}




@media (max-width:600px) {

    .cart {
        flex-direction: column;
    }

    .cart .products {
        width: 100%;
    }

    .cart_total {
        width: 100%;
    }


}