.contact_section {
    padding: 20px var(--sitePadding);
    justify-content: space-between;
}

.contacts {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.contact_others {
    width: 30%;
    border: 1px solid #f17a17;
    padding: min(15px, 0.7em);
    height: max-content;
    position: sticky;
    top: 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact_others h3 {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: clamp(12px, 2vw, 20px);
    width: 100%;
}

.contact_others span {
    width: 80%;
}

.contact_section h1 {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: clamp(16px, 5vw, 32px);
}

.contact_message {
    width: 65%;
}

.message{
    cursor: pointer;
}

.message:hover{
    scale: 1.02;
}

.chat {
    border: 1px solid #f17a17;
    height: 70vh;
    padding: min(15px, 0.9em);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: min(10px, 0.1em);
    border-radius: 10px;
}

.clear_history {
    background-color: #f17a17;
    color: white;
    padding: 10px;
    font-size: clamp(12px, 1.5vw, 18px);
    border-radius: min(10px,0.5em);
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.clear_history:hover {
    opacity: 0.8;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    overflow-y: auto;
    padding: 10px;
    scrollbar-width: thin;

}


.input_container {
    display: flex;
    justify-content: space-between;
    gap: min(10px, 0.3em);
}

.input_container textarea {
    border: 1px solid rgb(194, 194, 194);
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: min(10px, 0.5em);
    padding: min(5px, 0.5em) min(10px, 0.5em);
    font-size: clamp(10px, 1.5vw, 24px);
    resize: none;
}


audio {
    width: min(300px, 35vw);
    border: 1px solid #f17a17;
    border-radius: 25px;
}

.send {
    padding: min(10px, 0.5em);
    color: white;
    background-color: #f17a17;
    border-radius: min(10px, 0.5em);
    font-size: clamp(12px, 1.5vw, 24px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s ease;
}

.send:hover {
    scale: 1.1;
}


.history p {
    font-size: clamp(12px, 2vw, 18px);
    word-break: break-word;
    width: 100%;
    background-color: #f17a17;
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    white-space: pre-wrap;
}

.history>p {
    width: max-content;
}


.camera_voice {
    display: flex;
    gap: min(10px, 0.3em);
    align-items: center;
    position: relative;
}

.photo {
    width: 25vw;
    border-radius: 10px;
    border: 1px solid #f17a17;
}


@media (max-width:550px) {
    .contacts {
        flex-direction: column;
    }

    .contact_others {
        width: max-content;
    }

}