.popular_categories_section {
    margin-bottom: 80px;
}

.popular_categories_section h1 {
    margin-bottom: min(20px, 2vw);
    font-size: clamp(20px, 2.5vw, 32px);
}


.popular_categories {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;

}


.categories {
    display: flex;
    flex-direction: column;
    gap: min(20px, 0.8em);
    width: 25%;
    position: sticky;
    top:130px;

}


.category {
    display: flex;
    align-items: center;
    gap: min(15px, 0.6em);
    padding: min(10px, 0.5em);
    color: white;
    background-image: linear-gradient(to left, #183069, #0b1836);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.category:hover {
    background-image: linear-gradient(to left, #315cc2, #0b1836);
}

.isSelected {
    background-image: linear-gradient(to left, #315cc2, #0b1836);
    outline: 4px solid #f17a17;
}


.category span {
    background-color: white;
    color: #f17a17;
    font-size: clamp(12px, 2.2em, 42px);
    padding: 10px;
    display: flex;
    align-items: center; 
    border-radius: 10px
}

.info h2 {
    font-size: clamp(8px, 1.1em, 28px);
}

.products_button {
    display: flex;
    width: 72%;
    flex-direction: column;
    gap: min(20px, 2em);
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.product {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 35vw;
    font-size: clamp(12px, 1vw, 20px);
}


.show_more {
    background-color: #f17a17;
    color: white;
    font-size: clamp(14px,2vw,18px);
    padding: min(15px, 0.8em);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: min(10px, 0.4em);
    margin: 0 auto;
}




@media (max-width: 1199px) {
    .products_button {
        width: 65%;
    }

    .categories {
        width: 30%;
    }

    .product {
        font-size: clamp(12px, 1.3vw, 24px);
        height: 42vw;
        width: 48%;
    }

}

@media (max-width: 1000px) {
    .product {
        height: 47vw;
    }
}

@media (max-width: 850px) {
    .products_button {
        width: 100%;
    }

    .products {

        justify-content: space-between;
        column-gap: 0;
    }

    .product {
        width: 49%;
        height: 65vw;
        font-size: clamp(14px, 2vw, 28px);
    }

    .categories {
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        position: static;
    }

    .category span {
        font-size: clamp(14px, 3.5vw, 36px);
    }

    .category {
        width: 46%;
        min-width: 120px;
    }

    .info h2 {
        font-size: clamp(12px, 2.2vw, 24px);
    }

    .popular_categories {
        flex-direction: column;
        width: 100%;
    }


}

@media (max-width:650px) {

    .product {
        height: 75vw;
    }

}

@media (max-width:580px) {
    .products{
        justify-content: center;
    }

    .product {
        width: 80%;
        height: 90vw;
        font-size: clamp(14px, 2.4vw, 32px);
    }


}


@media (max-width:480px) {

    .product {
        height: 100vw;
        font-size: clamp(8px, 2.8vw, 32px);
    }


}

@media (max-width:350px) {

    .product {
        height: 120vw;
    }
}

@media (max-width:290px) {

    .product {
        height: 140vw;
    }
}