header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.header1 {
  display: flex;
  align-items: center;
  gap: min(20px, 1.5vw);
  font-size: clamp(12px, 1.5vw, 18px);
  height: 40px;
  padding: 0 var(--sitePadding);
  border-top: 1px solid rgb(194, 194, 194);
  border-bottom: 1px solid rgb(194, 194, 194);
}

.header1 a {
  border-right: 1px solid gray;
  padding-right: 5px;
  display: flex;
  align-items: center;
  gap: 5px;

}

.header1 a span:first-child {
  color: #f17a17;
}

.header1 a span:last-child {
  color: #06334e;
}

.header2 {
  padding: 5px var(--sitePadding);
  border-bottom: 1px solid rgb(194, 194, 194);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}


.header2 img {
  width: 10vw;
  min-width: min(110px, 20vw);
}

.header2 .search {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px;
  width: 33vw;
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
  gap: 10px;
}

.header2 input {
  font-size: clamp(14px, 1.5vw, 18px);
  border-radius: 5px;
  padding-left: 5px;
  width: 80%;
}

.header2 .search button {
  font-size: clamp(12px, 1.5vw, 18px);
  border-radius: 5px;
  background-color: #f17a17;
  color: white;
  padding: 8px;
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.header2 .search button:hover {
  opacity: 0.8;
}


.options {
  display: flex;
  gap: 1vw;
  margin-left: auto;
  margin-right: 20px;
}

.options button {
  font-size: clamp(12px, 1.2vw, 18px);
  background-image: linear-gradient(to right, #264aa0, #0b1836);
  padding: 0.8vw;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.options button:hover {
  opacity: 0.8;
}

.options button span:first-child {
  color: #f17a17;
  background-color: white;
  border-radius: 50%;
  height: clamp(28px, 2.5vw, 35px);
  width: clamp(28px, 2.5vw, 35px);
  font-size: clamp(14px, 1.6vw, 24px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.options button span:last-child {
  color: white;
}

.cart_count,
.favorite_count,
.compare_count {
  width: clamp(16px, 1.5vw, 20px);
  height: clamp(16px, 1.5vw, 20px);
  background-color: #f17a17;
  position: absolute;
  top: max(-8px, -0.6vw);
  right: max(-8px, -0.6vw);
  border-radius: 50%;
  font-size: clamp(8px, 0.8vw, 14px);
  display: flex;
  align-items: center;
  justify-content: center;
}


.header2 button.catalog {
  background-color: #f17a17;
  font-size: clamp(12px, 1.5vw, 18px);
  border-radius: min(10px, 0.5em);
  padding: min(10px, 0.8em);
  display: flex;
  align-items: center;
  gap: min(10px, 0.2em);
  color: white;
  cursor: pointer;
}

.header2 button.catalog span :first-child {
  display: flex;
  align-items: center;
}

.header2 button.catalog:hover {
  opacity: 0.8;
}


.catalog_menu {
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalogs {
  position: absolute;
  background-color: white;
  top: 150%;
  right: 0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  z-index: 10;
  width: 30vw;
  padding: 15px;
  transform: all 5s ease;
  border: 1px solid #f17a17;
  border-radius: 10px;
}

.catalogs ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: clamp(12px, 1.5vw, 24px);
}

.catalogs ul li {
  display: flex;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  align-items: center;
}

.catalogs ul li:hover {
  color: #f17a17;
}

.catalogs_show {
  display: flex;
}

.catalogs_hide {
  display: none;
}

@media (max-width: 1050px) {
  .options {
    position: absolute;
    right: -15px;
    top: 130px;
    flex-direction: column;
  }

  .options button>span:last-child {
    display: none;
  }

  .header2 .search {
    width: 50vw;
  }
}

@media (max-width: 460px) {
  .header2 .search button span:last-child{
    display: none;
  }

  .catalog span:last-child{
    display: none;
  }

}