*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border:none;
  text-decoration: none;
  list-style: none;
}

:root{
  --sitePadding: 5%;
}

body{
  height: 100vh;
  position: relative;
}

#root{
  height: 100vh;
  position: relative;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
}