*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border:none;
  text-decoration: none;
  list-style: none;
}

:root{
  --sitePadding: 5%;
}

html, body, #root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main{
  padding: 30px var(--sitePadding);
}

.container {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}